# Competition Machine Learning

## Importación de librerías

In [80]:
import pandas as pd

import numpy as np

from sklearn.preprocessing import StandardScaler, Normalizer

## Importación de dataset

In [81]:
df = pd.read_csv("Inputs/training_dataset.csv")

In [82]:
df.head()

,id,0,1,2,3,4,5,6,7,8,9,author
0,0,0.142636,0.431070,0.032912,-0.486796,0.261718,-1.013906,-0.081827,0.330352,0.438262,-0.761088,Ubuntius
1,1,0.019197,0.525284,0.068476,0.166658,0.261718,0.231839,0.635431,0.133209,0.313536,-0.002374,Philippus
2,2,0.093260,-0.087108,-2.268081,-0.164963,0.261718,1.477585,0.635431,-0.370641,0.126447,1.078357,Marcus
3,3,-0.017834,-0.228430,0.370770,1.293671,0.172340,-0.058835,0.446679,1.609556,2.277968,-0.172339,Clarius
4,4,0.080916,-0.142067,0.171611,-0.470713,0.261718,-0.141884,-0.044076,0.375551,0.032902,0.009898,Philippus

## Exploración de datos

**Datos faltantes**

In [83]:
df.isnull().sum()

id        0
0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
author    0
dtype: int64

Todo correcto en este apartado

**Correlaciones entre features**

In [84]:
df.corr()

,id,0,1,2,3,4,5,6,7,8,9
id,1.000000,-0.018720,-0.012011,-0.002319,0.002494,-0.012632,-0.013385,0.001252,0.000923,-0.013257,-0.010348
0,-0.018720,1.000000,-0.034470,0.033319,-0.048570,0.419491,-0.046590,-0.031043,-0.069932,0.077196,0.005076
1,-0.012011,-0.034470,1.000000,0.404319,-0.005041,-0.060451,0.394916,0.569620,0.036891,0.320835,-0.028935
2,-0.002319,0.033319,0.404319,1.000000,0.136911,0.004298,0.109612,0.266143,0.029505,0.164784,-0.064575
3,0.002494,-0.048570,-0.005041,0.136911,1.000000,0.095695,0.258998,0.064451,0.352031,0.274606,0.321449
4,-0.012632,0.419491,-0.060451,0.004298,0.095695,1.000000,0.047305,0.036884,-0.082471,0.285097,0.160481
5,-0.013385,-0.046590,0.394916,0.109612,0.258998,0.047305,1.000000,0.466022,-0.038380,0.219353,0.779156
6,0.001252,-0.031043,0.569620,0.266143,0.064451,0.036884,0.466022,1.000000,0.011868,0.259350,0.292490
7,0.000923,-0.069932,0.036891,0.029505,0.352031,-0.082471,-0.038380,0.011868,1.000000,0.493877,0.008542
8,-0.013257,0.077196,0.320835,0.164784,0.274606,0.285097,0.219353,0.259350,0.493877,1.000000,0.207351
9,-0.010348,0.005076,-0.028935,-0.064575,0.321449,0.160481,0.779156,0.292490,0.008542,0.207351,1.000000

Las features son totalmente independientes

**Análisis de categóricas**

In [85]:
df.dtypes

id          int64
0         float64
1         float64
2         float64
3         float64
4         float64
5         float64
6         float64
7         float64
8         float64
9         float64
author     object
dtype: object

Todas las variables son numéricas

## Borrado de columnas

In [86]:
df.drop(columns="id", axis=1, inplace=True)

## Conversión de columnas a numéricas ordinales

No se procede ninguna conversión

## Conversión de categóricas a numéricas (Dummies)

In [87]:
df = pd.get_dummies(df)

## Normalización o estandarización

Se realizará en el pipeline principal

## Confirmación de cambios tras la limpieza

In [ ]:
df.head()